&nbsp;
<mat-form-field class="example-form-field" appearance="fill" style="margin-left: 10%; margin-top: 2%;">
  <mat-label>Filtro</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button matSuffix mat-icon-button aria-label="Clear" *ngIf="value.length > 0" (click)="filterByUser(value)">
    <mat-icon>check</mat-icon>
  </button>
  <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''; ngOnInit()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<table
  mat-table
  [dataSource]="personas"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of columnsToDisplay"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div class="saltoLinea">
          <div class="example-element-symbol">
            {{ element.name }} {{ element.surname }}
          </div>
          <div class="example-element-name">{{ element.city }}</div>
          <img src="{{ element.imageUrl }}" width="50px" />
        </div>
        <div
          class="saltoLinea"
          style="margin-left: 5%; margin-top: 3%; margin-bottom: 3%"
        >
          <div class="example-element-name">password: {{ element.password }}</div>

          <div class="example-element-name">
            companyEmail: {{ element.companyEmail }}
          </div>
          <div class="example-element-name">
            personalEmail: {{ element.personalEmail }}
          </div>
        </div>
        <div
          class="saltoLinea"
          style="margin-left: 5%; margin-top: 3%; margin-bottom: 3%"
        >
          <div class="example-element-name">active: {{ element.active }}</div>
          <div class="example-element-name">
            createdDate: {{ element.createdDate }}
          </div>
          <div class="example-element-name">
            terminationDate: {{ element.terminationDate }}
          </div>
        </div>
        <div
          class="saltoLinea"
          style="margin-left: 5%; margin-top: 1%;"
        >
          <div>
            <button
              mat-mini-fab
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div>
            <button
              mat-mini-fab
              (click)="deleteUser(element.idPersona)"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>