table {
  width: 75%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}
  
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.saltoLinea {
  display: inline-block;
  margin-left: 20px;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
