<form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
  <mat-card class="example-card">
    <mat-card-title>Anadir Persona</mat-card-title>
    &nbsp;
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="user"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="text" formControlName="password"/>
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput type="text" formControlName="surname"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CompanyEmail</mat-label>
            <input matInput type="text" formControlName="companyEmail"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>PersonalEmail</mat-label>
            <input matInput type="text" formControlName="personalEmail"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Active</mat-label>
            <input matInput type="text" formControlName="active"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Created Date</mat-label>
            <input matInput type="text" formControlName="createdDate"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Termination Date</mat-label>
            <input matInput type="text" formControlName="terminationDate"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Image Url</mat-label>
          <input matInput type="text" formControlName="imageUrl"/>
        </mat-form-field>
      </td>
      </tr>
    </table>
    <mat-card-actions>
      <button mat-button type="submit">GUARDAR</button>
    </mat-card-actions>
  </mat-card>
</form>
